.show-panel-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
  overflow: hidden;
  .transparent-bg(hsla(0, 0%, 80%, 0.4),16px);
}
