@import url(@/pages/design/RightBar/index.module.less);
.panel-container {
  .tool-panel {
    display: flex;
    align-items: center;
    position: relative;
    left: -8px;
    padding-top: 12px;
    .tool-panel-item {
      padding: 4px 8px;
      border-radius: 6px;
      .cursor-pointer;
      &:hover {
        background: var(--color-gray-100);
      }
    }
    .tool-panel-item.disabled {
      opacity: 0.6;
      cursor: not-allowed;
      &:hover {
        background: inherit;
      }
    }
  }
  .bg-img-map {
    width: var(--show-width, 100%);
    height: var(--show-height, 150px);
    overflow: hidden;
    padding: 10px;
    position: relative;
    background-color: var(--color-gray-100);
    border-radius: var(--border-radius);
    .bg-img-box {
      width: calc(var(--bg-show-width) * var(--bg-show-scale));
      height: calc(var(--bg-show-height) * var(--bg-show-scale));
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 0 0;
      transform: translate(-50%, -50%);
      border-radius: var(--border-radius);
      overflow: hidden;
    }
    .bg-img-map-action-box {
      position: absolute;
      top: 8px;
      right: 8px;
      display: flex;
      align-items: center;
      .bg-img-map-aciton-item {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        background-color: #fff;
        border-radius: var(--border-radius);
        margin-right: 4px;
        .cursor-pointer;
      }
    }
  }
  .bg-color-box {
    width: 100%;
    background: var(--color-gray-100);
    height: @right-panel-action-btn-height;
    border-radius: var(--border-radius);
    padding: 8px 12px;
    .trans-bg-box {
      width: 100%;
      height: 100%;
      border: 1px solid var(--color-gray-200);
      border-radius: var(--border-radius);
      cursor: pointer;
      .transparent-bg(hsla(0, 0%, 80%, 0.4),10px);
    }
    .bg-color {
      width: 100%;
      height: 100%;
    }
  }
}
