.design {
  padding-top: @layout-top;
  user-select: none;
  .design-container {
    width: 100%;
    height: calc(100vh - @layout-top);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
