.selectInput {
  :global {
    .ant-select-single .ant-select-selector {
      height: 40px;
      border-color: transparent;
      background-color: #f0f0f0;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      line-height: 40px;
    }
  }
}

.option {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: #232321;
}

.optionIcon {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  overflow: hidden;
  font-size: 16px;
}
