.numberInput {
  :global {
    .ant-input-number-affix-wrapper {
      width: 100%;
      border-color: transparent;
      background-color: #f0f0f0;
    }
    .ant-input-number-affix-wrapper > div.ant-input-number {
      background-color: #f0f0f0;
    }
    .ant-input-number-affix-wrapper input.ant-input-number-input {
      padding: 9px 0;
    }
  }
}
