.animReplacer {
}
.animReplacerRemove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  border: 0;
  border-top: 1px solid #f0f0f0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #232321;
  font-size: 12px;

  &:hover {
    border-color: #f0f0f0 !important;
  }
}
