.animSetting {
}
.animSettingItem {
  margin-bottom: 12px;

  :global {
    .ant-form-item-row {
      display: flex;
      align-items: center;
    }
    .ant-form-item-label > label {
      width: 60px;
      color: #85878c;
      font-size: 12px;
    }
    .ant-form-item-control {
      border-radius: 6px;
    }
  }
}
