.template-panel {
  width: @layout-left-context;
  transition: 0.3s ease;
  transform: translateX(var(--positonX));
  height: 100%;
  overflow: hidden auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 16px;
  gap: 16px;
  .template-panel-item {
    width: 135px;
    height: 240px;
    overflow: hidden;
    border-radius: 6px;
    .cursor-pointer;
    &:hover {
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
